In [1]:
print("Hello World")

Hello World

In [2]:
4/2

2.0

In [3]:
((200*2)-(100))/3

100.0

In [4]:
x = "hello world";
x.upper()

'HELLO WORLD'

In [5]:
my_list = ['One', 'Two', 'Three', 'Four', 'Five']

In [6]:
my_list

['One', 'Two', 'Three', 'Four', 'Five']

In [7]:
my_list.append('six')

In [8]:
my_list

['One', 'Two', 'Three', 'Four', 'Five', 'six']

In [9]:
my_list[1:]

['Two', 'Three', 'Four', 'Five', 'six']

In [10]:
my_dict = {'k1':1, 'k2':'a', 'k3':['a', 'b', 'c'], 'k4':{'secondkey':1}}
my_dict
my_dict['k3'][2].upper()#note to access the value of a dictionnary we have to specify the its key. ex x['k2']
my_dict['k5'] = 3
my_dict.items()

dict_items([('k1', 1), ('k2', 'a'), ('k3', ['a', 'b', 'c']), ('k4', {'secondkey': 1}), ('k5', 3)])

In [11]:
d={'k1':[1,2,3]}
d['k1'][1]

2

===== FILE IN PYTHON =======

In [12]:
%%writefile my_txt_file.txt
This is a text file
this is the second line 
This is the third line

Overwriting my_txt_file.txt

In [13]:
myfile = open('my_txt_file.txt')

In [14]:
myfile.read()

'This is a text file\nthis is the second line \nThis is the third line\n'

In [15]:
myfile.read()

''

In [16]:
myfile.seek(0)

0

In [17]:
myfile.read()

'This is a text file\nthis is the second line \nThis is the third line\n'

In [18]:
myfile.seek(0)

0

In [19]:
myfile.readlines()

['This is a text file\n',
 'this is the second line \n',
 'This is the third line\n']

In [20]:
myfile.close()#close the file so that you can be able to delete it.
#if you don't want to close a file at the end use this syntax below

In [21]:
with open('my_txt_file.txt') as my_new_file:
    contents = my_new_file.readlines()# contents it is a name of a variable.

In [22]:
contents

['This is a text file\n',
 'this is the second line \n',
 'This is the third line\n']

# reading, Writing, Appending, Modes
Mode = 'r' is read only
Mode = 'w' is write only(will overwrite files or create new)
Mode = 'a' is append only(will add on the file)
Mode = 'r+'is reading and writing
Mode = 'w+' is writing and reading(Overwrites existing files or creates a new file)

In [23]:
%%writefile my_new_files.txt
One on the first
Two on the second
Three on the third

Overwriting my_new_files.txt

In [24]:
with open('my_new_files.txt', mode='r') as f:
    print(f.read())

One on the first
Two on the second
Three on the third

In [25]:
with open('my_new_files.txt', mode = 'a') as f:#append
    f.write('Four on the Fourth')

In [26]:
with open('my_new_files.txt', mode='r') as f:#read
    print(f.read())

One on the first
Two on the second
Three on the third
Four on the Fourth

In [27]:
with open('my_new_blabla.txt', mode='w') as f:#this code overwrite or create a new file doesn't exist
    f.write('I create this new file to overwrite the existing ot to create the new one')

In [28]:
with open('my_new_blabla.txt', mode='r') as f:
    print(f.read())

I create this new file to overwrite the existing ot to create the new one

In [29]:
#Exercises Dictionary that returns Hello
d={'k1':[1,2,{'k2':['this is tricky', {'though':[1,2, ['Hello']]}]}]}
d['k1'][2]['k2'][1]['though'][2]

['Hello']

In [30]:
#Control flow
loc = "Bank" or " bank"
if loc == "Auto shop":
    print("Cars are cool")
elif loc == "Bank":
    print("Money is cool")
else:
    print("I do not know much...sorry")

Money is cool

In [31]:
for _ in 'hello world':
    print("cool")# not we can use ; at the end of some lines of codes or not

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [32]:
x=0;
while x<5:
    print(f'The current value of x is {x}')
    x+=1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [33]:
for num in range(1, 11, 2):
    print(num)

1
3
5
7
9

In [34]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [35]:
word = 'abcde'
for items in enumerate(word):
    print(items)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

# Exercises on the Statement Test

In [36]:
#Exersise 
for num in range(1,101):
    #print(num);
    if(num%3 == 0 and num%5==0):
        print("FizzBuzz");
    elif(num % 3 == 0):
        print("Fizz");
    elif(num%5==0):
        print("Buzz");
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [37]:
#Question this code prints only the word in the setense that start with s, either capital or lower
my_string='Sam only the words start with s in this setence'
for word in my_string.split():
    if word[0].lower() == 's':
        print(word)

#Question #2 use range even to print 0 to 10
list(range(0,11,2))

#Question 3: list comprehension to print the multiple of 3
multi_3 = [x for x in range(1,51) if x%3==0]
multi_3

#Question 4:
st="Print every word in this setence that has even numbers of letters"
for word in st.split():
    if len(word)%2 ==0:
        print(word+' is even')
#Question 6:
st_1="create a list of the first letters of every word in this string"
[word_1[0] for word_1 in st_1.split()]

Sam
start
s
setence
word is even
in is even
this is even
that is even
even is even
of is even

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [38]:
def is_even(num_list):
    my_list = [];
    for num in num_list:
        if num%2==0:
            my_list.append(num);
        else:
            pass
    return my_list

In [39]:
is_even([1,3,5])

[]

In [40]:
stock_prices = [('Apple', 200), ('Google', 400), ('Microsoft', 100)]
for item in stock_prices:
    print(item)

('Apple', 200)
('Google', 400)
('Microsoft', 100)

In [41]:
for ticker, prices in stock_prices:
    print(ticker)

Apple
Google
Microsoft

In [42]:
for ticker, prices in stock_prices:
    print(prices+(0.1*prices))

220.0
440.0
110.0

In [43]:
work_hours = [('Abbi', 1500),('Chris', 1000), ('Ann', 300)]

In [44]:
def employee_check(work_hours):
    employee_of_month = '';
    current_max = 0;
    for employee, hours in work_hours:
        if hours>current_max:
            current_max = hours;
            employee_of_month = employee;
        else:
            pass;
    return (employee_of_month, current_max)

In [45]:
employee_check(work_hours)

('Abbi', 1500)

# This is the way we can assign the result to variable

In [46]:
result = employee_check(work_hours)
name, hours = employee_check(work_hours)

In [47]:
name

'Abbi'

# Function interactions

In [1]:
example = [1,2,3,4,5,6,7]
from random import shuffle

def shuffle_list(my_list):
    shuffle(my_list)
    return my_list
my_list = [' ', 'O', ' '];
#result = shuffle_list(example)
#result

In [2]:
def player_guess():
    guess = '';
    while guess not in ['0', '1', '2']:
        guess = input("Pick an number among: 0,1, or 2");
    return int(guess)

In [3]:
player_guess()

Pick an number among: 0,1, or 2
Pick an number among: 0,1, or 22

2

In [4]:
def check_guess(my_list,guess):
    if my_list[guess] == 'O':
        print('Correct!');
    else:
        print('Wrong guess');
        print(my_list);

In [6]:
#INITIAL LIST
my_list = [' ', 'O', ' ']

#SHUFFLE LIST
mixeduplis = shuffle_list(my_list);
#USER GUESS
guess = player_guess();
#CHECKER GUESS
check_guess(mixeduplis, guess)

Pick an number among: 0,1, or 24
Pick an number among: 0,1, or 22
Wrong guess
[' ', 'O', ' ']